@using Teh_te4_tekh_ORM.Areas.HelpPage
@model Teh_te4_tekh_ORM.Areas.HelpPage.SampleGeneration.InvalidSample

@if (HttpContext.Current.IsDebuggingEnabled)
{
    <div class="warning-message-container">
        <p>@Model.ErrorMessage</p>
    </div>
}
else
{
    <p>Sample not available.</p>
}